# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

/target/
.gitignore
.idea/workspace.xml
src/test/
target/
